.filtro-genero {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filtro-genero button {
  padding: 0.4rem 1rem;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  text-align: left;
  transition: background-color 0.2s;
}

.filtro-genero button.activo {
  background-color: #0d47a1;
  color: #ffffff;
  border: none;
}

.filtro-genero button:hover {
  background-color: #08306b;
  color: #ffffff;
}

